@import url("../../css/popups.css");


.breifhome{
    display: block;
    float: left;
    width: 100%;
    position: relative;    
    height: calc(100vh - 0px); /*replace 0px by height of header*/
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;    
    background-image: url('../images/home_page.jpg');
}
.breifhome .top_head{
    display: block;
    position: absolute;
    left: 0;
    right: 0;
    text-align: center;
    top: 28px;
}
.breifhome .top_head h1{
    text-align: center;
    font-family: Didot Bold Italic;
    font-size: 44px;
}
.breifhome .middle_head{
    display: block;
    position: absolute;
    left: 0;
    text-align: center;
    right: 0;
    top: 50%;
}
.breifhome .middle_head h2{
    text-align: center;
    font-family: HelveticaNeueLight;
    font-size: 40px;
}
.breifhome .bottom_button{
    display: block;
    position: absolute;
    left: 0;
    right: 0;
    text-align: center;
    bottom: 28px;
}
.breifhome .bottom_button a{
    background: #fff;
    padding: 6px 10px;
    border-radius: 8px;
    color: #000;    
    font-family: HelveticaNeueLight;
    font-size: 24px;
    text-decoration: none;
}

section.brief_inner{
    display: block;
    position: relative;
    float: left;
    width: 100%;
    padding: 20px;
    font-family: 'Dosis', sans-serif!important;
}
.brief_inner .search_div{
    display: block;
    float: left;
    width: 100%;
    border-top: 1px solid #000;
    position: relative;
    border-bottom: 1px solid #000;
    padding: 0 24px;
    height: 56px;
    background: #f7f7f8;
}
.brief_inner .search_div .form_div{
    position: absolute;
    left: 24px;
    top: 5%;
    width: 30%;
    height: 90%;
}
.brief_inner .search_div .form_div form{
    height: 100%;
}
.brief_inner .search_div .form_div input{
    height: 100%;
    width: 100%;
    border: 0;
    outline: none;
    font-size: 18px;
}
.brief_inner .search_div .form_div input:ctive,.brief_inner .search_div .form_div input:hover,.brief_inner .search_div .form_div input:focus{
    outline: none;
}
.brief_inner .search_div .form_div input::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    font-weight: 700;
    font-size: 22px;
}
.brief_inner .search_div .form_div input::-moz-placeholder { /* Firefox 19+ */
    font-weight: 700;
    font-size: 22px;
}
.brief_inner .search_div .form_div input:-ms-input-placeholder { /* IE 10+ */
    font-weight: 700;
    font-size: 22px;
}
.brief_inner .search_div .form_div input:-moz-placeholder { /* Firefox 18- */
    font-weight: 700;
    font-size: 22px;
}
.brief_inner .search_div .mng_portfolio{
    position: absolute;
    right: 24px;
    height: 98%;
    top: 1%;
    border: 1px solid #d5d5d6;
    border-radius: 5px;
    width: 84px;
}
.brief_inner .search_div .mng_portfolio a{
    color: #000;
    font-weight: 300;
}
.brief_inner .search_div .mng_portfolio a span{
    width: 45px;
    float: left;
    font-size: 10px;
    padding-top: 14px;
    padding-left: 6px;
    line-height: 1;
}
.brief_inner .search_div .mng_portfolio a img{
    width: 36px;
}
.user_home_products{
    display: block;
    float: left;
    width: 100%;

}
.user_home_products .filters{
    display: block;
    width: 100%;
    padding-right: 28px;
    float: right;
    margin-top: 8px;
}
.user_home_products .filters .cont{
    display: inline-block;float: right;
}
.user_home_products .filters a{
    display: inline-block;
    margin-right: 8px;
    padding: 2px 8px;
    background: #fff;
    border-radius: 5px;
    border: 1px solid #453d0f;
    color: #194f02;
    font-weight: 600;
    text-decoration: none;
    font-size: 11px;
}
.user_home_products .filters a.active{    
    background: #ffdb03;
}
.user_home_products .products_list{
    margin-top: 40px;
}
.user_home_products .products_list .item{
    width: 20%;
    float: left;
    display: block;
    text-align: center;
}
.user_home_products .products_list .item .image{
    width: 85%;
    margin: auto;
    display: block;
    min-height: 220px;
    max-height: 220px;
}
.user_home_products .products_list .item .image .img{
    height: 220px;
    vertical-align: middle;
}
.user_home_products .products_list .item .desc .name{
    font-weight: 600;
    font-size: 12px;
    margin: 0;
    line-height: 1;
}
.user_home_products .products_list .item .desc .vendor{
    font-weight: 300;
    font-size: 14px;
    line-height: 1;
    margin: 0;
    font-style: italic;
}


.common_table{
    width: 100%;
    display: block;
    float: left;
    text-align: left;
    margin-top: 22px;
}
.common_table .heading th{
    color: #b3b3b3;
    font-size: 12px;
    font-weight: 300;
    letter-spacing: 1px;
    border-top: 1px solid transparent;
    position: relative;
}
.common_table .heading th a{
    color: #b3b3b3;
    text-decoration: none;
    padding-left: 2px;
    font-weight: 300;
    font-size: 5px;
}
.common_table td{
    border-top: 1px solid #000!important;
    vertical-align: middle;
    line-height: 12px;
}

.common_table tr:last-child td{
    border-bottom: 1px solid #000;
}
.common_table tr td:first-child,.common_table .heading th:first-child{
    padding-left: 16px;    
}
.common_table tr td:last-child,.common_table .heading th:last-child{
    padding-right: 16px;    
}
.common_table tr td{
    position: relative;
}

.common_table tr:hover td:last-child:before{
    position: absolute;
    width: 8px;
    height: 100%;
    content: "";
    background: #f7d400;
    top: 0;
    right: 0;
}
.common_table tr:hover td:first-child:before{
    position: absolute;
    width: 8px;
    height: 100%;
    content: "";
    background: #f7d400;
    top: 0;
    left: 0;
}

.common_table tr:hover td{
    background-color: #f7f7f8!important;    
}
.common_table{
    margin-top: 20px;
}
.common_table .vendor_table tr td{
    width: 25%;
    text-align: center;
    font-weight: 600;
}
.common_table .vendor_table tr td:first-child{
    width: 50%;
    text-align: left;
}
.common_table .vendor_table tr th{
    width: 25%;
    text-align: center;
    font-weight: 600;
}
.common_table .vendor_table tr th:first-child{
    width: 50%;
    text-align: left;
}
.remove_dic_on_integration{
    width: 50%;
}
.brief_inner .search_div .form_div.more_width{
    width: 70%;
}
.vendors_and_products{
    display: inline-block;
    float: right;
    text-align: center;
}
.vendors_and_products .vendors{
    position: relative;
    margin-right: 8px;
    display: inline-block;
    height: 100px;
    width: 120px;
}
.vendors_and_products .products{
    position: relative;
    display: inline-block;
    height: 100px;
    width: 120px;
}
.vendors_and_products .big{
    position: absolute;
    z-index: 5;
    font-size: 80px;
    margin: 0;
    color: #e0e1e2;
    font-weight: 700;
    top: 0;
    left: 0;
    right: 0;
}
.vendors_and_products .small{
    position: absolute;
    z-index: 10;
    font-size: 15px;
    letter-spacing: 0.4px;
    margin: 0;
    color: #291f20;
    font-weight: 700;
    bottom: 10px;
    left: 0;
    right: 0;
}


.brief_common_1{
    display: block;
    float: left;
    width: 100%;
    padding: 20px 0;
    border-left: 1px solid #000;
    position: relative;
}
.m-t-40{
    margin-top: 40px;
}
.brief_common_1 .left{
    width: 220px;    
    min-height: 160px;
    position: relative;
}
.brief_common_1 .left .grey_bg{
    background: #e6e6e6;    
    padding: 2px 10px;
    border-radius: 0 5px 5px 0;
}
.brief_common_1 .left .grey_bg p{
    margin: 0;
    font-weight: 700;
    font-size: 18px;
}
.brief_common_1 .left .address{
    padding-left: 10px;
    line-height: 1.6;
    margin: 0;
    font-size: 14px;
}
.brief_common_1 .left .address span{
    width: 100%;
    display: block;
}
.brief_common_1 .right.top{
    top: 20px;
}
.brief_common_1 .right.bottom{
    bottom: 0px;
}
.brief_common_1 .right{
    position: absolute;
    right: 0;
    bottom: 20px;
    text-align: center;
    width: 70px;
}
.brief_common_1 .right a{
    color: #333;
    text-decoration: none;
}
.brief_common_1 .right .icon{
    background: #fdda00;
    border-radius: 50%;
    width: 22px;
    height: 22px;
    display: block;
    margin: auto;
    padding-top: 1px;
}
.brief_common_1 .right .icon .fa{
    line-height: 22px;
    text-align: center;
    font-weight: 300;
}
.brief_common_1 .right p{
    margin: 0;
    line-height: 1;
}
.brief_common_1 .right .number{
    width: 48px;
    height: 48px;
    display: block;
    margin: auto;
    background: #fdda00;
    border-radius: 50%;
}
.brief_common_1 .right .number p{
    font-weight: 700;
    margin: 0;
    line-height: 48px;
    font-size: 22px;
}
.brief_common_1 .delete_vendor{
    display: block;
    padding-left: 10px;
    margin-bottom: -20px;
}
.brief_common_1 .delete_vendor a{
    color: #333;
    text-decoration: none;
    font-weight: 300;
}
.brief_common_1 .delete_vendor a i{
    font-weight: 300;
}
.brief_common_1 .left .edit_vendor{
    position: absolute;
    bottom: -64px;
    right: 0;
    text-align: center;
    width: 50px;
}
.brief_common_1 .left .edit_vendor a{
    text-decoration: none;
    color: #333;
    font-weight: 300;
    font-size: 10px;
}
.brief_common_1 .left .edit_vendor .fa{
    display: block;
    margin: auto;
    font-size: 28px;
    -webkit-animation-duration: 0.4s;
    animation-duration: 0.4s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    -webkit-animation-timing-function: ease-in-out;
    animation-timing-function: ease-in-out;
}
.brief_common_1 .left .edit_vendor .fa:hover{
    animation-name: bounce;
    -moz-animation-name: bounce;
}
@keyframes bounce {
    0%, 100% {
        -webkit-transform: translateY(0);
        -ms-transform:     translateY(0);
        transform:         translateY(0)
    }
    50% {
        -webkit-transform: translateY(-10px);
        -ms-transform:     translateY(-310px);
        transform:         translateY(-10px)
    }
}
.pdt_iages{
    display: block;
    float: left;
    width: 100%;
    position: relative;
}
.vendors_and_products.products_images{
    display: block;
    margin: auto;
    float: initial;
    margin-top: -10px;
}
.fixed_heifht_images_list{
    position: relative;
    height: 324px;
    overflow: hidden;
}
.fixed_heifht_images_list .scrolling_images{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    display: table;
    height: 100%;
    transition: top 1s ease;
    -webkit-transition: top 1s ease;
}
.pdt_iages .images_list{
    padding: 20px;
    height: 300px;
    display: table;
    width: 100%;
}
.pdt_iages .images_list .images_container{
    display: table-cell;
    vertical-align: middle;
}
.pdt_iages .images_list.one .images_container .item,.pdt_iages .images_list.two .images_container .item,.pdt_iages .images_list.three .images_container .item{
    width: 33.33%;
    padding: 6px;
    display: block;
    margin: auto;
}
.pdt_iages .images_list.four .images_container .item{
    width: 33%;
    padding: 6px;
    display: inline-block;
    margin: auto;
}
.pdt_iages .images_list .images_container .item img{
    max-height: 100px;
    max-width: 100px;
    display: block;
    margin: auto;
}
.pdt_iages .images_list.four .images_container .middle_alligner,.pdt_iages .images_list.five .images_container .middle_alligner{
    display: block;
    width: 68%;
    margin: auto;
}
.pdt_iages .images_list.four .images_container .middle_alligner .item,.pdt_iages .images_list.five .images_container .middle_alligner .item{
    width: 49%;
    display: inline-block;
}
.pdt_iages .images_list.five .images_container .middle_alligner .item:last-child{
    margin-left: 25%;
}
.pdt_iages .images_list.six .images_container .middle_alligner,.pdt_iages .images_list.seven .images_container .middle_alligner,.pdt_iages .images_list.eight .images_container .middle_alligner,.pdt_iages .images_list.nine .images_container .middle_alligner{
    display: block;
    width: 100%;
    margin: auto;
}
.pdt_iages .images_list.six .images_container .middle_alligner .item,.pdt_iages .images_list.seven .images_container .middle_alligner .item,.pdt_iages .images_list.eight .images_container .middle_alligner .item,.pdt_iages .images_list.nine .images_container .middle_alligner .item{
    width: 33%;
    display: inline-block;
}
.pdt_iages .images_list.seven .images_container .middle_alligner .item:last-child{
    margin-left: 33%;
}
.pdt_iages .images_list.eight .images_container .middle_alligner .item:nth-child(7){
    margin-left: 16.5%;
}
.image_scrollar{
    display: block;
    width: 100%;
    margin-top: 20px;
    text-align: center;
}
.image_scrollar a{
    color: #333;
    text-decoration: none;
    margin-right: 8px;
}

.brief_common_1 .left input.grey_bg{
    width: 100%;
    padding-left: 10px;
    border: none;
    background: #e0e1e2;
    border-radius: 0 4px 4px 0;
    margin-bottom: 4px;
}
.brief_common_1 .left input.filled{
    background: #fff;
}
.brief_common_1 .left .input_f input{    
    font-size: 18px;
    font-weight: 700;
} 
.brief_common_1 .left input:focus,.brief_common_1 .left input:hover,.brief_common_1 .left:active{
    outline: none;
}
.brief_common_1 .left .address.add_inp{
    padding-left: 0;
}
.brief_common_1 .left .address.add_inp input{
    font-weight: 500;
}
.brief_common_1 .delete_vendor .info_text{
    font-size: 12px;
    letter-spacing: 0.5px;
    font-style: italic;
}
.brief_common_1 .right.bottom.submit_btn{
    bottom: -12px;
    left: 320px;
}
.brief_common_1 .right.submit_btn .img{
    width: 48px;
}
.single_vendor_image .img{
    display: block;
    width: 80%;
    margin: auto;
}
.specification_container{
    display: block;
    float: left;
    width: 100%;
    position: relative;
}
.specification_container .specification_name{
    display: inline-block;
    margin-bottom: 0;
    font-size: 22px;
    font-weight: 700;
    letter-spacing: 1px;
    margin-top: 20px;
}
.common_table .specification_table td{
    position: relative!important;
    vertical-align: middle!important;
}
.common_table .specification_table td .spec_image{
    max-height: 60px;
    width: 60px;
}
.specification_unnecessary_div_delete_on_integration{
    width: 80%;
}
.common_table .specification_table td .absolute_content{
    display: none;
    height: 100%;
    position: absolute;
    top: 0;
    right: -68px;
    padding-top: 20px;

}
.common_table .specification_table tr.active td .absolute_content{
    display: block;
}
.common_table .specification_table td .absolute_content .icon{
    width: 20px;
}
.common_table .specification_table td .absolute_content div{
    display: inline-block;
    float: left;
    margin-right: 8px;
}
.single_vendor_image .vendor_created{
    text-align: center;
    border-radius: 8px;
    width: 260px;
    margin: auto;
    display: block;
    min-height: 350px;
    -webkit-box-shadow: 0px 0px 21px -4px rgba(33,33,33,1);
    -moz-box-shadow: 0px 0px 21px -4px rgba(33,33,33,1);
    box-shadow: 0px 0px 21px -4px rgba(33,33,33,1);
}
.single_vendor_image .vendor_created .head{
    position: relative;
    padding: 10px;
    background: #ebebeb;
}
.single_vendor_image .vendor_created .head p{
    font-size: 18px;
    margin: 0;
    font-weight: 500;
    letter-spacing: 1px;
}
.single_vendor_image .vendor_created .head:after{
    background: #ebebeb;
    width: 20px;
    height: 20px;
    left: 0;
    right: 0;
    margin: auto;
    position: absolute;
    content: "";
    -webkit-clip-path: polygon(53% 100%, 0 0, 100% 0);
    clip-path: polygon(53% 100%, 0 0, 100% 0);
}
.single_vendor_image .vendor_created .body{
    padding: 80px 20px;
}
.single_vendor_image .vendor_created .body .gren_tick .ok{
    width: 70px;
    display: block;
    margin: auto;
}
.single_vendor_image .vendor_created .body .vendor_details{
    margin-top: 28px;
}
.single_vendor_image .vendor_created .body .vendor_details p{
    font-weight: 600;
    letter-spacing: 0.8px;
    margin: 0;
    font-size: 15px;
    line-height: 1.2;
}
.single_vendor_image.min-height_div{
    height: 500px;
    width: 100%;
    display: table;
    position: relative;
}
.single_vendor_image.min-height_div .midlle_allign_div{
    display: table-cell;
    vertical-align: middle;
    width: 100%;
}
.single_vendor_image .add_prod{
    text-align: center;
}
.single_vendor_image .add_prod .add_icon{
    width: 80px;
    display: block;
    margin: auto;
    margin-bottom: 20px;
}
.single_vendor_image .add_prod a{
    text-decoration: none;
    color: #333;
    line-height: 1;
    font-size: 16px;
    font-weight: 500;
}
.single_vendor_image .add_prod a span{
    display: block;
    width: 100%;
}
.single_vendor_image.min-height_div .later{
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    text-align: center;
}
.single_vendor_image.min-height_div .later a{
    color: #333;
    text-decoration: none;
    font-size: 14px;
    line-height: 1;
}
.single_vendor_image.min-height_div .later a i{
    display: block;
    width: 100%;
}


.man_field_cont{
    margin: 0;
}
.man_field_cont .mandatory_fields{
    display: block;
    width: 100%;
    float: left;
    text-align: center;
    padding: 8px 0;
    border-radius: 8px;
    -webkit-box-shadow: 0px 0px 21px -1px rgba(138,138,138,1);
    -moz-box-shadow: 0px 0px 21px -1px rgba(138,138,138,1);
    box-shadow: 0px 0px 21px -1px rgba(138,138,138,1);
}
.man_field_cont .mandatory_fields .text{
    margin: 0;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 16px;
    letter-spacing: 1px;
}
.green_validation_form{
    margin-top: 40px;
}
.green_validation_form .inp{
    width: 100%;
    padding: 4px 8px;
    font-size: 14px;
    background: #e6e7e8;
    border-radius: 8px;
    border: none;
    color: #333;
    font-weight: 300;
}
.green_validation_form .inp.mfont{
    font-size: 15px;
    font-weight: 500;
}
.green_validation_form .inp.lfont{
    font-size: 17px;
    font-weight: 500;
}
.green_validation_form .inp:active,.green_validation_form .inp:focus,.green_validation_form .inp:hover{
    outline: none;
}
.green_validation_form .inp.valid{
    background: #8cc63f;
}
.green_validation_form .inp.error{
    background: #f4a8a8;
}
.green_validation_form .form-group.with_links .link{ 
    color: #333;
    text-decoration: none;
    padding-left: 12px;
    display: block;
    float: left;
    width: 100%;
}
.green_validation_form .with_links .link:nth-child(2) p{
    margin-top: 12px;
}

.green_validation_form .form-group.with_links .link p{
    margin-bottom: 6px;
}
.green_validation_form .form-group{
    padding-bottom: 40px;
    position: relative;
    width: 80%;
}
.green_validation_form .col-md-6:first-child .form-group{
    float: left;
}
.green_validation_form .col-md-6:nth-child(2) .form-group{
    float: right;
}
.green_validation_form .with_links .link:last-child p{
    margin-bottom: 16px;
}
.green_validation_form .inp::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    color: #000;
}
.green_validation_form .inp::-moz-placeholder { /* Firefox 19+ */
    color: #000;
}
.green_validation_form .inp:-ms-input-placeholder { /* IE 10+ */
    color: #000;
}
.green_validation_form .inp:-moz-placeholder { /* Firefox 18- */
    color: #000;
}
.green_validation_form .form-group .abs_content{
    position: absolute;
    right: -24px;
    top: 0;
    height: 20px;
}
.green_validation_form .form-group .abs_content a{
    font-size: 18px;
    color: #333;
    text-decoration: none;
}
.green_validation_form .form-group .use{
    font-weight: 300;
    font-size: 16px;
}
.green_validation_form .form-group .button_set .btn{
    margin-right: 8px;
    border-radius: 25px;
    background: #e6e7e8;
    color: #000;
    text-align: center;
    width: 136px;
    padding: 4px 0;
}
.green_validation_form .form-group .button_set .btn.active{
    background: #8cc63f;
}
.green_validation_form .form-group .button_set .btn:active,.green_validation_form .form-group .button_set .btn:hover,.green_validation_form .form-group .button_set .btn:focus{
    outline: none;
}
.green_validation_form .min-height_div{
    height: 300px;
    display: table;
    width: 100%;
}
.green_validation_form .min-height_div .vert{
    display: table-cell;
    width: 100%;
    vertical-align: middle;
}
.green_validation_form .min-height_div .drag_and_drop{
    width: 80%;
    height: 250px;
    display: block;
    float: right;
    border: 2px dashed #000;
    border-radius: 5px;
}
.green_validation_form .next_div{
    display: inline-block;
    float: right;
}
.green_validation_form .next_div .forward{
    width: 42px;
}
.green_validation_form .next_div  .forward_text{
    font-weight: 300;
    font-size: 14px;
    margin:  0;
    text-align: center;
}

.green_validation_form .form-group.diamentios .left{
    display: inline-block;
    width: 49%;
    float: left;
}
.green_validation_form .form-group.diamentios label{
    font-weight: 500;
    width: 100%;
    text-align: left;
}
.green_validation_form .form-group.diamentios .left .inp{
    margin-bottom: 6px;
}
.green_validation_form .form-group.diamentios .right{
    width: 49%;
    display: inline-block;
    position: relative;
    height: 136px;
    float: right;
}
.green_validation_form .form-group.diamentios .right .tab_disp{
    height: 100%;
    width: 100%;
    display: table;
}
.green_validation_form .form-group.diamentios .right .vert{
    display: table-cell;
    vertical-align: middle;
    width: 100%;
}
.green_validation_form .form-group.diamentios .right .add_files{
    text-align: center;
}
.green_validation_form .form-group.diamentios .right .add_files a{
    color: #333;
    text-decoration: none;
}
.green_validation_form .form-group.diamentios .right .add_files span{
    display: block;
    width: 100%;
}
.green_validation_form .form-group.diamentios .right .add_files .link{
    display: inline-block;
}
.green_validation_form .download_links,.green_validation_form .submit_div{
    display: block;
    float: left;
    width: 100%;
}
.green_validation_form .download_links p,.green_validation_form .download_links a{
    font-size: 13px;
    display: block;
    margin-bottom: 4px;
    width: 100%;
}
.green_validation_form .submit_div button{
    background: transparent;
    border:none;
    float: right;
    text-align: center;
}
.green_validation_form .submit_div button .sub_img{
    width: 44px;
}
.green_validation_form .submit_div button span{
    display: block;
    width: 100%;
    font-size: 14px;
    font-weight: 500;
}
.green_validation_form .submit_div button:active,.green_validation_form .submit_div button:hover,.green_validation_form .submit_div button:focus{
    outline: none;
}
.popups .modal-content .heading.medium_font h3{
    font-size: 18px;
}
.material_modal .modal-dialog{
    width: 748px;
    margin: 20px auto;
}
.material_modal .check_box_lists{
    padding: 0 40px;
}
.material_modal .check_box_lists .col{
    width: 25%;
    display: inline-block;
    float: left;
}
.material_modal .check_box_lists .col .item{
    display: block;
    width: 100%;
}
.material_modal .check_box_lists .col .main_cb{
    font-weight: 700;
    font-size: 14px;
}
.material_modal .check_box_lists .col .list{
    margin-bottom: 12px;
}
.material_modal .check_box_lists .col .list .main{
    font-size: 12px;
    font-weight: 700;
}
.material_modal .check_box_lists .col .list .sub{
    font-size: 12px;
    font-weight: 400;
    line-height: 0.8;
    margin: 0;
}
.material_modal .check_box_lists .col .list .cb{
    width: 12px;
    margin: 0;
}
.material_modal .check_box_lists .col .list .am{
    width: 136px;
    margin: 0 auto;
}


.menu_body_m5{
    display: block;
    float: left;
    width: 100%;
    position: relative;
}
.menu_body_m5 .menu_list{
    display: block;
    position: relative;
    float: left;
    width: 100%;
    z-index: 10;
    padding: 12px 36px;
    background: #f2f2f2;
}
.menu_body_m5 .col{
    width: 14.2%;
    float: left;
}
.menu_body_m5 .col .cat_name{
    font-size: 13px;
    font-weight: 600;
    margin-bottom: 6px;
}
.menu_body_m5 .col a{
    color: #333;
    display: block;
    width: 100%;
    text-decoration: none;
    font-size: 12px;    
}
.menu_body_m5 .abs_content{
    position: absolute;
    bottom: -70px;
    left: 0;
    right: 0;
    width: 124px;
    height: 140px;
    border-radius: 50%;
    background: #fdda00;
    margin: auto;
    z-index: 5;
}
.menu_body_m5 .ab3{
    width: 50px;
    display: block;
    margin: auto;
    position: absolute;
    bottom: -20px;
    left: 0;
    right: 0;
    z-index: 111;
}
.menu_body_m5 .ab3 .up_arrow{
    width: 50px;
}
.menu_body_m5 .abs_content .full{
    position: absolute;
    bottom: 12%;
    width: 100%;
    left: 0;
    text-align: center;
}
.menu_body_m5 .abs_content .full span{
    display: block;
    width: 100%;
    font-weight: 600;
    line-height: 1.2;
}
.menu_body_m5 .ab2{
    position: absolute;
    right: 10px;
    bottom: 10px;
}
.menu_body_m5 .ab2 .cnci .icon{
    display: inline-block;
    width: 30px;
    float: left;
    line-height: 30px;
    height: 30px;
    text-align: center;
    background: #fdda00;
    border-radius: 50%;
    margin-right: 4px;
    margin-top: 5px;
}
.menu_body_m5 .ab2 .cnci a{
    color: #333;
    text-decoration: none;
}
.menu_body_m5 .ab2 .cnci .name{
    display: inline-block;
    width: 100px;
}
.menu_body_m5 .ab2 .cnci .name span{
    display: block;
    width: 100%;
    font-size: 12px;
    line-height: 1;
}
.m5_modal .pdt_image{
    width: 180px;
    float: right;
    padding-right: 10px;
}
.m5_modal .modal-body{
    padding-top: 40px!important;
}
.m5_modal .modal-body .min_h{
    height: 120px;
    width: 100%;
    display: table;
}
.m5_modal .modal-body .v_m{
    display: table-cell;
    vertical-align: middle;
}
.m5_modal .modal-body .name{
    font-size: 16px;
    font-weight: 600;
    margin-bottom: 6px;
    padding-left: 10px;
}
.m5_modal .modal-body .col-md-6{
    padding-bottom: 40px;
}
.m5_modal .modal-body .by{
    margin: 0;
    font-size: 15px;
    padding-left: 10px;
}
.m5_modal .modal-body .mod_close{
    text-align: center;
}
.m5_modal .modal-body .mod_close p{
    margin: 0;
    cursor: pointer;
}