/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Feb 22, 2018, 5:26:03 PM
    Author     : 4875
*/
.left_middle{
    display: inline-block;
    width: 220px;
    border: 1px solid;
    height: auto;
    padding: 20px 8px;
    font-family: Dosis san-serif;
}
.left_middle .search_div{
    position: relative;
}
.left_middle .search_div .custom_holder{
    position: absolute;
    left: 0;
    top: 0;
    white-space: nowrap;
    text-overflow: ellipsis;
    max-width: 100%;
    overflow: hidden;
}
.left_middle .search_div .custom_holder .large{    
     font-size: 20px; 
     color: #000;
     font-weight: 700; 
}
.left_middle .search_div .custom_holder .small{
    font-size: 12px;
    padding-left: 6px;
    color: #a1a1a1;
    font-weight: 300;
}
.left_middle .search_div .search,.left_middle .search_div .search:focus,.left_middle .search_div .search:active,.left_middle .search_div .search:hover{
    width: 90%;
    border: none;
    outline: none;
    font-size: 16px;
    letter-spacing: 1px;
}
.left_middle .search_div .search::-webkit-input-placeholder {}
.left_middle .search_div .search::-moz-placeholder { font-size: 20px; color: #000;font-weight: 700; }
.left_middle .search_div .search:-ms-input-placeholder { font-size: 20px; color: #000;font-weight: 700; }
.left_middle .search_div .search:-moz-placeholder { font-size: 20px; color: #000;font-weight: 700; }
.left_middle .filter_by_div{
    margin-top: 20px;
}
.left_middle .filter_by_div .text{
    display: inline-block;
    margin: 0;
    font-size: 16px;
    font-weight: 500;
    letter-spacing: 1px;
    line-height: 24px;
}
.left_middle .filter_by_div .filter_img{
    display: inline-block;
    width: 24px;
    padding-right: 4px;
}
.filter_accordion .filter_heading{
    padding: 0 4px;
    border-radius: 5px;
    background: #e6e7e9;
    color: #000;
    border: none;
    box-shadow: none;
    outline: none;
    position: relative;
}
.filter_accordion .filter_heading .ing:after{
    font-family: 'Glyphicons Halflings'; 
    content: "\e114";
    font-style: normal;
    font-weight: 300;
    text-decoration: inherit;
    color: #8f9092;
    font-size: 10px;
    padding-top: 4px;
    float: right;
}
.filter_accordion .filter_heading.collapsed .ing:after{
    content: "\e080";
}
.filter_accordion .filter_heading .ing{
    text-decoration: none;
    font-size: 14px;
}
.filter_accordion .custom_panel:first-child{
    margin-top: 36px;
}
.filter_accordion .custom_panel{
    margin-bottom: 36px;
    border: none;
    box-shadow: none!important;
}
.filter_accordion .custom_panel:last-child{
    margin-bottom: 0;
}
.filter_accordion .panel-body{
    border: none!important;
    border-top: none!important;
    border-bottom: none!important;
}
.filter_accordion .level_1 .panel-body{
    padding: 12px 6px;
}

/*level 2 filter*/


.filter_accordion .level2 .accordion-toggle{
    width: 100%;
    display: block;
    color: #6b6b6b;
    text-decoration: none;
    font-size: 14px;
}
.filter_accordion .level2 .accordion-body{
    padding-left: 8px;
}

/*level 3 filter*/


.filter_accordion .level3 .accordion-toggle{
    font-weight: 700;
}
.filter_accordion .level3 .accordion-toggle:after{
    font-family: 'Glyphicons Halflings'; 
    content: "\e114";
    font-style: normal;
    font-weight: 300;
    text-decoration: inherit;
    color: #8f9092;
    font-size: 10px;
    padding-top: 4px;
    float: right;
}
.filter_accordion .level3 .collapsed.accordion-toggle:after{
    content: "\e080";
}


/*checkbox list*/
.filter_accordion .level3 .filter_check_box_list{
    margin-left: -16px;
}
.filter_check_box_list .item input + label{
    font-weight: 300;
}
.filter_check_box_list input[type=checkbox]:checked + label{
    font-weight: 700;
}
.filter_check_box_list input[type=checkbox]{
    margin: 0 8px 0 0; 
}