/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Feb 22, 2018, 5:26:03 PM
    Author     : 4875
*/
body{
    overflow-y: scroll;
}
.left_middle{
    display: inline-block;
    width: 220px;
    border: 1px solid;
    height: auto;
    padding: 20px 8px;
    font-family: Dosis san-serif;
}
.left_middle .search_div{
    position: relative;
}
.left_middle .search_div .custom_holder{
    position: absolute;
    left: 0;
    top: 0;
    white-space: nowrap;
    text-overflow: ellipsis;
    max-width: 100%;
    overflow: hidden;
}
.left_middle .search_div .custom_holder .large{    
    font-size: 20px; 
    color: #000;
    font-weight: 700; 
}
.left_middle .search_div .custom_holder .small{
    font-size: 12px;
    padding-left: 6px;
    color: #a1a1a1;
    font-weight: 300;
}
.left_middle .search_div .search,.left_middle .search_div .search:focus,.left_middle .search_div .search:active,.left_middle .search_div .search:hover{
    width: 90%;
    border: none;
    outline: none;
    font-size: 16px;
    letter-spacing: 1px;
}
.left_middle .search_div .search::-webkit-input-placeholder {}
.left_middle .search_div .search::-moz-placeholder { font-size: 20px; color: #000;font-weight: 700; }
.left_middle .search_div .search:-ms-input-placeholder { font-size: 20px; color: #000;font-weight: 700; }
.left_middle .search_div .search:-moz-placeholder { font-size: 20px; color: #000;font-weight: 700; }
.left_middle .filter_by_div{
    margin-top: 20px;
}
.left_middle .filter_by_div .text{
    display: inline-block;
    margin: 0;
    font-size: 16px;
    font-weight: 500;
    letter-spacing: 1px;
    line-height: 24px;
}
.left_middle .filter_by_div .filter_img{
    display: inline-block;
    width: 24px;
    padding-right: 4px;
}
.filter_accordion .filter_heading{
    padding: 0 4px;
    border-radius: 5px;
    background: #e6e7e9;
    color: #000;
    border: none;
    box-shadow: none;
    outline: none;
    position: relative;
}
.filter_accordion .filter_heading .ing:after{
    font-family: 'Glyphicons Halflings'; 
    content: "\e114";
    font-style: normal;
    font-weight: 300;
    text-decoration: inherit;
    color: #8f9092;
    font-size: 10px;
    padding-top: 4px;
    float: right;
}
.filter_accordion .filter_heading.collapsed .ing:after{
    content: "\e080";
}
.filter_accordion .filter_heading .ing{
    text-decoration: none;
    font-size: 14px;
}
.filter_accordion .custom_panel:first-child{
    margin-top: 36px;
}
.filter_accordion .custom_panel{
    margin-bottom: 36px;
    border: none;
    box-shadow: none!important;
}
.filter_accordion .custom_panel:last-child{
    margin-bottom: 0;
}
.filter_accordion .panel-body{
    border: none!important;
    border-top: none!important;
    border-bottom: none!important;
}
.filter_accordion .level_1 .panel-body{
    padding: 12px 6px;
}

/*level 2 filter*/


.filter_accordion .level2 .accordion-toggle{
    width: 100%;
    display: block;
    color: #6b6b6b;
    text-decoration: none;
    font-size: 14px;
}
.filter_accordion .level2 .accordion-body{
    padding-left: 8px;
}

/*level 3 filter*/


.filter_accordion .level3 .accordion-toggle{
    font-weight: 700;
}
.filter_accordion .level3 .accordion-toggle:after{
    font-family: 'Glyphicons Halflings'; 
    content: "\e114";
    font-style: normal;
    font-weight: 300;
    text-decoration: inherit;
    color: #8f9092;
    font-size: 10px;
    padding-top: 4px;
    float: right;
}
.filter_accordion .level3 .collapsed.accordion-toggle:after{
    content: "\e080";
}


/*checkbox list*/
.filter_accordion .level3 .filter_check_box_list{
    margin-left: -16px;
}
.filter_check_box_list p,.filter_check_box_list input,.filter_check_box_list .item input + label{
    color: #666666;
}
.filter_check_box_list .item input + label{
    font-weight: 300;
}
.filter_check_box_list input[type=checkbox]:checked + label{
    font-weight: 700;
}
.filter_check_box_list input[type=checkbox]{
    margin: 0 8px 0 0; 
}
.filter_check_box_list .disclaimer{
    color: #747474;
    font-size: 11px;
    font-weight: 300;
    font-style: italic;
    letter-spacing: 1px;
}
.filter_check_box_list .disclaimer span{
    vertical-align: super;
    font-size: 8px;
}
.country_search .item p{
    color: #666666;
}
.country_search .search_div{
    margin-bottom: 10px;
}
.country_search .search_div input{
    background-image: url(../images/search_icon.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: 6px;
    padding-left: 29px;
    max-width: 100%;
    box-shadow: none;
    border: 1px solid #818181;
    border-radius: 8px;
}
.country_search .search_div input:focus,.country_search .search_div input:active,.country_search .search_div input:hover{
    outline: none;
}
.country_search .country_list_search .item{
    cursor: pointer;
}
.country_search .country_list_search .item.selected p{
    font-weight: 700;
}
.color_picker .flip {
    -webkit-perspective: 800;
    width: 100%;
    height: 30px;
    position: relative;
}
.color_picker .flip .card.flipped {
    -webkit-transform: rotatex(-180deg);
}
.color_picker .flip .card {
    width: 100%;
    height: 100%;
    -webkit-transform-style: preserve-3d;
    -webkit-transition: 0.5s;
}
.color_picker .flip .card .face {
    width: 100%;
    height: 100%;
    position: absolute;
    -webkit-backface-visibility: hidden ;
    z-index: 2;
}
.color_picker .flip .card .front {
    position: absolute;
    z-index: 1;
    cursor: pointer;
}
.color_picker .flip .card .front img{
    width: 60%;
    margin: auto;
    display: block;    
}
.color_picker .flip .card .back .input_div{
    width: 58%;
    margin: auto;
    display: block;
    position: relative;
}

.color_picker .flip .card .back .input_div .color_name{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    text-align: center;
    z-index: 0;
    line-height: 26px;
    margin: 0;
    color: #7c7c7c;
    text-transform: uppercase;
}
.color_picker .flip .card .back .input_div.red .color_name{    
    background: linear-gradient(to left,white, red);
}
.color_picker .flip .card .back .input_div.green .color_name{    
    background: linear-gradient(to left,white, green);
}
.color_picker .flip .card .back .input_div.yellow .color_name{    
    background: linear-gradient(to left,white, yellow);
}
.color_picker .flip .card .back .input_div.blue .color_name{    
    background: linear-gradient(to left,white, blue);
}
.color_picker .flip .card .back .input_div.grey .color_name{    
    background: linear-gradient(to left,white, grey);
}
.color_picker .flip .card .back .input_div.orange .color_name{    
    background: linear-gradient(to left,white, orange);
}
.color_picker .flip .card .back .input_div.pink .color_name{    
    background: linear-gradient(to left,white, pink);
}
.color_picker .flip .card .back .input_div.purple .color_name{    
    background: linear-gradient(to left,white, purple);
}
.color_picker .flip .card .back .input_div.brown .color_name{    
    background: linear-gradient(to left,white, brown);
}
.color_picker .flip .card .back .input_div.white .color_name{    
    background: linear-gradient(to left,white, white);
}
.color_picker .flip .card .back {
    -webkit-transform: rotatex(-180deg);
    cursor: pointer;
}
.color_picker .item{
        margin-bottom: 6px;
}